---
const currentPath = new URL(Astro.request.url).pathname;

import logo from '../../assets/img/logo.svg';

---

<nav class="flex justify-between items-center">
    <img src={logo.src} width="100" alt="">
    <ul class="flex gap-2 items-center">
        <li class={currentPath === "/" ? "nav active" : "nav"} ><a href="/">Home</a></li>
        <li class={currentPath === "/about" ? "nav active" : "nav"} ><a href="/about">About</a></li>
    </ul>
</nav>