---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <main>
        <h1>About</h1>
        <p>My name is <strong>John Doe</strong> and I'm a web developer.</p>
    </main>
</Layout>