---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome">
    <main>
        <h1>Welcome!</h1>
        <p>Get started by editing <code>src/pages/index.astro</code></p>
    </main>
</Layout>